.drawer {
  width: 240px;
  flex-shrink: 0;
  color: white !important;
}

.MuiDrawer-paper {
  width: 240px;
  box-sizing: border-box;
}

.MuiListItemButton-root {
  padding: 8px 8px !important;
}

.drawer-box {
  height: 100vw;
  overflow: auto;
  background-color: #3f0f40;
}

.drawer-box::-webkit-scrollbar {
  display: none;
}

.drawer-list {
  color: white;
  padding: 0 !important;
  font-size: 12px !important;
}

.drawer-list :hover {
  opacity: 0.8;
}
